<%- include("partials/header.ejs") %>

<h1>This is the home page</h1>

<nav>

  <a href="/">Home</a> |
  <a href="/library">Library</a> |
  <a href="/about">About</a>

</nav>

<%- include("partials/footer.ejs") %>